{% extends 'BackBundle::client/index.html.twig' %}

{% block page_top %}    <div  class="row " >
    <div class="col-md-4" style="font-size: 25px;margin-top: 10px;margin-left: 200px">Nouveau Client</div>
    <a class="btn btn-primary" style="margin-top: 10px;margin-left: 150px" href="{{ path('Aclient_index') }}">Retour à la Liste</a>
        </div>
{% endblock %}
{% block page_center %}

<div class="col-md-8 col-md-offset-2"   >
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
<br>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>




{% endblock %}
