<html>
<head>

</head>

<body>

<div class="row">

        <img  width="25%" style="margin-top: 20px;margin-left: 100px;" src="{{ asset('bundles/rektour1.jpg') }}"><br><br>
        <div style="font-size: 20px;margin-left: 50px" class="col-md-12">
            Bonjour <span style="text-decoration: underline;font-weight: bold"> {{ nom }} </span>
            ,désormais vous avez acces à notre application Rektour_GSTOCK<br><br>
               login : <span style="font-weight: bold"> {{ login }} </span><br>
            password : <span style="font-weight: bold"> {{ password }} </span>
            <br><br>
            En cas de problémen,veuillez contacté le directeur
        </div>



</div>
</body>

</html>